HangmanGame/HangmanGame-Cliente/Connected Services/HangmanServicioReferencia/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Biblioteca.DTO" />
  <xs:element name="Autenticacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasena" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutenticacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Biblioteca.DTO" minOccurs="0" name="AutenticacionResult" nillable="true" type="q1:ResponseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPalabrasPorCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPalabrasPorCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Biblioteca.DTO" minOccurs="0" name="ObtenerPalabrasPorCategoriaResult" nillable="true" type="q2:ResponsePalabrasConIdDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearPartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAdivinador" type="xs:int" />
        <xs:element minOccurs="0" name="idPalabra" type="xs:int" />
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idIdiomaPartida" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearPartidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Biblioteca.DTO" minOccurs="0" name="CrearPartidaResult" nillable="true" type="q3:ResponsePartidaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPartidasDisponibles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPartidasDisponiblesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Biblioteca.DTO" minOccurs="0" name="ObtenerPartidasDisponiblesResult" nillable="true" type="q4:ResponsePartidaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnirsePartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoPartida" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idJugador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnirsePartidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Biblioteca.DTO" minOccurs="0" name="UnirsePartidaResult" nillable="true" type="q5:ResponsePartidaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstadoPartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoPartida" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstadoPartidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Biblioteca.DTO" minOccurs="0" name="ObtenerEstadoPartidaResult" nillable="true" type="q6:ResponsePartidaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarResultado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idJugador" type="xs:int" />
        <xs:element minOccurs="0" name="idPartida" type="xs:int" />
        <xs:element minOccurs="0" name="gano" type="xs:boolean" />
        <xs:element minOccurs="0" name="esAbandono" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarResultadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Biblioteca.DTO" minOccurs="0" name="GuardarResultadoResult" nillable="true" type="q7:ResponseResultadoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstadisticasPorJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idJugador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstadisticasPorJugadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Biblioteca.DTO" minOccurs="0" name="ObtenerEstadisticasPorJugadorResult" nillable="true" type="q8:ResponseEstadisticaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Biblioteca.DTO" minOccurs="0" name="jugadorDTO" nillable="true" type="q9:JugadorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarJugadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Biblioteca.DTO" minOccurs="0" name="RegistrarJugadorResult" nillable="true" type="q10:ResponseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Biblioteca.DTO" minOccurs="0" name="jugadorDTO" nillable="true" type="q11:JugadorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarJugadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Biblioteca.DTO" minOccurs="0" name="ActualizarJugadorResult" nillable="true" type="q12:ResponseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarPartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoPartida" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarPartidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Biblioteca.DTO" minOccurs="0" name="CancelarPartidaResult" nillable="true" type="q13:ResponsePartidaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>